acres==0.1.0
albucore==0.0.13
albumentations==1.4.10
annotated-types==0.7.0
anyio==4.7.0
appnope==0.1.4
argcomplete==3.5.2
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.12.3
black==24.10.0
Camelot==12.6.29
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
ci-info==0.3.0
click==8.1.7
comm==0.2.2
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
coverage==7.6.9
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
datamodel-code-generator==0.25.6
debugpy==1.8.9
decorator==5.1.1
distro==1.9.0
dnspython==2.7.0
easyocr==1.7.2
Elixir==0.7.1
email_validator==2.2.0
etelemetry==0.3.1
executing==2.1.0
fastapi==0.115.6
fastapi-code-generator==0.5.2
fastjsonschema==2.21.1
filelock==3.16.1
fire==0.7.0
fitz==0.0.1.dev2
fonttools==4.55.0
fsspec==2024.10.0
genson==1.3.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.10
imageio==2.36.1
imgaug==0.4.0
importlib_resources==6.4.5
inflect==5.6.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.29.0
isodate==0.6.1
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
lazy_loader==0.4
lmdb==1.5.1
looseversion==1.3.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
mypy==1.13.0
mypy-extensions==1.0.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
ninja==1.11.1.2
nipype==1.9.1
nltk==3.9.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==24.2
paddleocr==2.9.1
pandas==2.2.3
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pbr==6.1.0
pdf-parser @ git+https://github.com/Oxford-Data-Processes/pdf-parser.git@586360c031310f5124d7a83618ebbac8e3479f48
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
phonenumbers==8.13.52
Pillow==10.1.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
prompt_toolkit==3.0.48
prov==2.0.1
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyclipper==1.3.0.post6
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.2
pydantic-to-typescript==2.0.0
pydantic_core==2.27.1
pydot==3.0.2
Pygments==2.18.0
PyMuPDF==1.24.14
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PySnooper==1.1.1
pytesseract==0.3.10
pytest==7.4.3
pytest-cov==4.1.0
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-multipart==0.0.19
pytz==2024.2
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.10.1
rdflib==6.3.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.2
stack-data==0.6.3
starlette==0.41.3
stringcase==1.2.0
sympy==1.13.1
tabula-py==2.10.0
Tempita==0.6.0
tenacity==9.0.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.9.20
tomli==2.2.1
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
typed-ast==1.5.5
typer==0.12.5
types-jsonschema==4.23.0.20241208
types-Pillow==10.2.0.20240822
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.1
wcwidth==0.2.13
xlrd==0.7.1
xlwt==0.7.2
